body 
{
	border: 1px solid blue;
	max-width: 1024px;
	margin: 0 auto;
	border-radius: 5px;
}
header 
{
	border: 1px solid blue;
	border-radius: 5px;
}
img
{
	width: 80px;
	float: right;
	margin: 35px 10px 0px 0px;
}
header nav 
{
	text-align: center;
	display: none;
}
header nav ul li
{
	display: inline-block;
	margin-right: 10px;

}
#frmAltaUsuarios
{
	display: none;
	text-align: center;
	margin: 0 auto;
	width: 400px;
}
#principal_usuario
{
	margin: 0 auto;
	width: 300px;
}
#nombreusuario
{
	background: royalblue;
	border-radius: 5px;
	color: white;
	float: right;
	margin: 0px 10px 0px 0px;
	padding: 0px 5px 0px 5px;
}
#semestreactual
{
	display: none;
	background: slateblue;
	border-radius: 5px;
	color: white;
	float: left;
	margin: 0px 0px 0px 10px;
	padding: 0px 5px 0px 5px;
}

